*{
    margin: 0;
    padding: 0
}
body{
    background-color: #D9B166;
}
#container{
    position: relative;
    height: 100vh;
    width: 960px;
    margin: 0 auto;
    background-color: #BF9969;
    
}
#chatContainer{
    position: absolute;
    height: 400px;
    width: 500px;
    top: 25%;
    left: 50%;
    border-radius: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); 
    background-color: tomato;
}
#loginContainer {
    position: absolute;
    height: 400px;
    width: 500px;
    top: 25%;
    left: 50%;
    border-radius: 50px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); 
    background-color: #A62D2D;
}

#loginForm {
    width: 300px;
    height: 100px;
    padding: 20px;
  
    position: absolute;
    top: 200px;
    left: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
  
    margin: -70px 0 0 -170px;
}
#login-buttons {
    margin-top: 30px;
}

#loginForm {
    left: 200px;
    height: 300px !important;
    width: 300px !important;
    top: 150px;
    transform: translateX(25%); 
}

#login-register-btn {
    position: absolute;
    right: 18px;
    background-color: #49868C;
}

#login-text {
    position: block;
    width: 250px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.ui .button {
    background-color: #49868C !important;
}

.ui .secondary .pointing .menu {
    height: 150px !important;
}
